@model IEnumerable<Entity.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-group">
    @using (Html.BeginForm("FindEmployee", "Employee", FormMethod.Get, new { @class = "form-inline" }))
    {
        <div class="form-group mx-sm-3 mb-2">
            <label class="input-group">Employee ID</label>
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <input type="number" class="form-control" name="idEmployee" id="txtIdEmployee" />
        </div>
        <input class="btn btn-primary mb-2" type="submit" value="Get Employees" />
    }
</div>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-striped table-hover">
        <thead>
            <tr class="bg-info">
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContractTypeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RoleDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HourlySalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MonthlySalary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AnualSalary)
                </th>
                </trclass="alert-heading">
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ContractTypeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HourlySalary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MonthlySalary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AnualSalary)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
